html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
}

span {
    font-weight: bold;
}

.upperBar {
    display: flex;
    justify-content: space-between;
}

.upperBar i {
    display: flex;
    float: right;
    font-size: 30px;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 10px;
    padding-top: 10px;
}

.upperBar h1{
    text-align: center;
}

.options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    border-bottom: 2px solid #eee;
    width: 100%;
}

.options i {
    font-size: 40px;
}

.recommendedFriends {
    height: 200px;
    color: gray;
    /* border-bottom: 2px solid red; */
}


.recommendedFriends >span{
    height: 100%;
    text-align: center;
    color: gray;
    display : flex;
  justify-content : center;
  align-items : center;
  border-bottom: 2px solid gray;
}

.openChat {
    margin-top: 70px;
}

.openChatTitle {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: -30px;
    padding-top: 0;
    padding-bottom: 30px;
}

.openChatTitle p {
    color: gray !important;
}

.hashtag {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

.hashtag div p span {
    color: deeppink;
}

p{
    margin:0;
}

.myProfile {
    display: flex;
    text-align: center; 
    height: 130px;
    width: 130px;
}

.profile {
    width: 100px;
    height: 100px;
    border-radius: 20%;
}

footer {
    background-color: lightgray;
    height: 70px;
    font-size: 40px;
    display: flex;
    justify-content: space-between;    
}
.footerIcon{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 20px;
    font-size: 25px;
    width: 70px;
    background-color: lightgray;
    border: 0;
}